
#FILAMENT_TYPE MATERIAL='{filament_type[initial_extruder]}' EXTRUDER_TEMP=[nozzle_temperature_initial_layer] BED_TEMP=[bed_temperature_initial_layer_single] CHAMBER_REQ=[chamber_temperature]


[gcode_macro start_variables]
variable_z_offset_spicy: 0.22 # beacon z offset for spicy materials
variable_z_offset_mild: 0.17 # beacon z offset for mild materials
variable_z_offset_cold: 0.17 # beacon z offset for cold materials
variable_medium_fan_speed: 153 # 60% part cooling fan speed
variable_low_fan_speed: 102 # 40% part cooling fan speed
variable_probing_temp_hotend: 145 # hotend temp to heat chamber and probe
variable_z_park: 5 # height to park after chamber heating (faster than z homing speed)
variable_park_speed: 500 #mm/s
variable_purge_start_x: 48.5 # moves -50mm
variable_purge_start_y: 0 # doesn't move
variable_purge_height: 0.8 # z height for purge
variable_purge_amount: 30 # amount of filament to purge
variable_purge_speed: 10 # speed of purge in mm/s
variable_end_retract_amount: 12 # amount to retract after print finishes
gcode:

[gcode_macro purge_line]
gcode:
  	G90
	G92 E0
    G1 Z{printer["gcode_macro start_variables"].purge_height+0.4} F5000
    G1 X{printer["gcode_macro start_variables"].purge_start_x} Y{printer["gcode_macro start_variables"].purge_start_y} Z{printer["gcode_macro start_variables"].purge_height} F{printer["gcode_macro start_variables"].park_speed*60}
    G1 E{printer["gcode_macro start_variables"].purge_amount} F{printer["gcode_macro start_variables"].purge_speed*60}
	G92 E0
	G1 X{printer["gcode_macro start_variables"].purge_start_x-50} Z{printer["gcode_macro start_variables"].purge_height+0.4} E{printer["gcode_macro start_variables"].purge_amount} F{printer["gcode_macro start_variables"].purge_speed*60}
	G92 E0
	G90

[gcode_macro PARK_CHAMBER_HEAT]
gcode:
    SAVE_GCODE_STATE NAME=PARK_CHAMBER_HEAT
    G90                               ; absolute positioning
    G0 X{printer.toolhead.axis_maximum.x/2} Y{printer.toolhead.axis_maximum.y/2} Z{printer.toolhead.axis_maximum.z-25} F{printer["gcode_macro start_variables"].park_speed*60}    
    RESTORE_GCODE_STATE NAME=PARK_CHAMBER_HEAT

[gcode_macro START_SPICY]
gcode:   
    SET_VELOCITY_LIMIT ACCEL=30000 SQUARE_CORNER_VELOCITY=30
	CG28
    SET_GCODE_OFFSET Z=0.0 
	M118 Starting {params.MATERIAL} 
    _SET_MPC_MATERIAL MATERIAL={params.MATERIAL}
	BED_MESH_CLEAR
    BASE_WHITE
	G90
	PARK_CHAMBER_HEAT
	M106 S{printer["gcode_macro start_variables"].low_fan_speed}
	SET_FAN_SPEED FAN=fan3 SPEED=1.0
	M140 S{params.BED_TEMP}
    M104 S{printer["gcode_macro start_variables"].probing_temp_hotend}
	MOTOR_SYNC
	MOTOR_SYNC
	SET_FAN_SPEED FAN=bed_fans SPEED=1.0
	M190 S{params.BED_TEMP}
	M106 S{printer["gcode_macro start_variables"].medium_fan_speed}
	SET_FAN_SPEED FAN=fan3 SPEED=1.0
	TEMPERATURE_WAIT SENSOR="temperature_sensor CHAMBER" MINIMUM={params.CHAMBER_HEATER}
    M106 S0
	M107 P2
	M107 P0
	G0 Z{printer["gcode_macro start_variables"].z_park} F{printer["gcode_macro start_variables"].park_speed*60}
    BASE_WHITE
	Z_TILT_ADJUST
    G4 P1000
    G28 Z METHOD=CONTACT CALIBRATE=1
	G28 Z METHOD=CONTACT CALIBRATE=0
    G4 P1000
	SET_VELOCITY_LIMIT ACCEL=10000 SQUARE_CORNER_VELOCITY=10
	BED_MESH_CALIBRATE ADAPTIVE=1
    CLEAN_NOZZLE
	G0 Z{printer["gcode_macro start_variables"].z_park} F{printer["gcode_macro start_variables"].park_speed*60}
	SET_VELOCITY_LIMIT ACCEL=10000 SQUARE_CORNER_VELOCITY=10
	G1 X{printer["gcode_macro start_variables"].purge_start_x} Y{printer["gcode_macro start_variables"].purge_start_y} Z{printer["gcode_macro start_variables"].purge_height} F{printer["gcode_macro start_variables"].park_speed*60}
    M109 S{params.EXTRUDER_TEMP}
    purge_line
    SET_GCODE_OFFSET Z={printer["gcode_macro start_variables"].z_offset_spicy} 
    SET_FAN_SPEED FAN=bed_fans SPEED=1.0
    SET_FAN_SPEED FAN=fan3 SPEED=1.0

[gcode_macro START_MILD]
gcode: 
    SET_VELOCITY_LIMIT ACCEL=30000 SQUARE_CORNER_VELOCITY=30
	CG28
    SET_GCODE_OFFSET Z=0.0 
    M118 Starting {params.MATERIAL} 
    _SET_MPC_MATERIAL MATERIAL={params.MATERIAL}
	BED_MESH_CLEAR
    BASE_WHITE
	G90
	PARK_CHAMBER_HEAT
	M106 S{printer["gcode_macro start_variables"].low_fan_speed}
	SET_FAN_SPEED FAN=fan3 SPEED=1.0
	M140 S{params.BED_TEMP}
    M104 S{printer["gcode_macro start_variables"].probing_temp_hotend}
	MOTOR_SYNC
	MOTOR_SYNC
	SET_FAN_SPEED FAN=bed_fans SPEED=1.0
	M190 S{params.BED_TEMP}
	M106 S{printer["gcode_macro start_variables"].medium_fan_speed}
	SET_FAN_SPEED FAN=fan3 SPEED=1.0
	TEMPERATURE_WAIT SENSOR="temperature_sensor CHAMBER" MINIMUM={params.CHAMBER_HEATER}
    M106 S0
	M107 P2
	M107 P0
	G0 Z{printer["gcode_macro start_variables"].z_park} F{printer["gcode_macro start_variables"].park_speed*60}
    BASE_WHITE
	Z_TILT_ADJUST
    G4 P1000
    G28 Z METHOD=CONTACT CALIBRATE=1
	G28 Z METHOD=CONTACT CALIBRATE=0
    G4 P1000
	SET_VELOCITY_LIMIT ACCEL=10000 SQUARE_CORNER_VELOCITY=10
	BED_MESH_CALIBRATE ADAPTIVE=1
    CLEAN_NOZZLE
	G0 Z{printer["gcode_macro start_variables"].z_park} F{printer["gcode_macro start_variables"].park_speed*60}
	SET_VELOCITY_LIMIT ACCEL=10000 SQUARE_CORNER_VELOCITY=10
	G1 X{printer["gcode_macro start_variables"].purge_start_x} Y{printer["gcode_macro start_variables"].purge_start_y} Z{printer["gcode_macro start_variables"].purge_height} F{printer["gcode_macro start_variables"].park_speed*60}
    M109 S{params.EXTRUDER_TEMP}
    purge_line
    SET_GCODE_OFFSET Z={printer["gcode_macro start_variables"].z_offset_mild} 
    SET_FAN_SPEED FAN=bed_fans SPEED=1.0
    SET_FAN_SPEED FAN=fan3 SPEED=1.0

[gcode_macro START_COLD]
gcode:
    SET_VELOCITY_LIMIT ACCEL=30000 SQUARE_CORNER_VELOCITY=30
	CG28
    SET_GCODE_OFFSET Z=0.0 
    M118 Starting {params.MATERIAL} 
    _SET_MPC_MATERIAL MATERIAL={params.MATERIAL}
	BED_MESH_CLEAR
    BASE_WHITE
	G90
	PARK_CHAMBER_HEAT
	M106 S{printer["gcode_macro start_variables"].low_fan_speed}
	SET_FAN_SPEED FAN=fan3 SPEED=1.0
	M140 S{params.BED_TEMP}
    M104 S{printer["gcode_macro start_variables"].probing_temp_hotend}
	MOTOR_SYNC
	MOTOR_SYNC
	M190 S{params.BED_TEMP}
	SET_FAN_SPEED FAN=fan3 SPEED=1.0
    M106 S0
	M107 P0
	G0 Z{printer["gcode_macro start_variables"].z_park} F{printer["gcode_macro start_variables"].park_speed*60}
    BASE_WHITE
	Z_TILT_ADJUST
    G4 P1000
    G28 Z METHOD=CONTACT CALIBRATE=1
	G28 Z METHOD=CONTACT CALIBRATE=0
    G4 P1000
	SET_VELOCITY_LIMIT ACCEL=10000 SQUARE_CORNER_VELOCITY=10
	BED_MESH_CALIBRATE ADAPTIVE=1
    CLEAN_NOZZLE
	G0 Z{printer["gcode_macro start_variables"].z_park} F{printer["gcode_macro start_variables"].park_speed*60}
	SET_VELOCITY_LIMIT ACCEL=10000 SQUARE_CORNER_VELOCITY=10
	G1 X{printer["gcode_macro start_variables"].purge_start_x} Y{printer["gcode_macro start_variables"].purge_start_y} Z{printer["gcode_macro start_variables"].purge_height} F{printer["gcode_macro start_variables"].park_speed*60}
    M109 S{params.EXTRUDER_TEMP}
    purge_line
    SET_GCODE_OFFSET Z={printer["gcode_macro start_variables"].variable_z_offset_cold} 
    SET_FAN_SPEED FAN=bed_fans SPEED=1.0
    SET_FAN_SPEED FAN=fan3 SPEED=1.0

[gcode_macro FILAMENT_TYPE]
gcode:
	{% set MATERIAL = params.MATERIAL|string %}
	{% set chamber_heater = params.CHAMBER_REQ|int %}
    {% set bed_temp = params.BED_TEMP|int %}
    {% set extruder_temp = params.EXTRUDER_TEMP|int %}
    
	{% if MATERIAL == 'PC' %}
	START_SPICY EXTRUDER_TEMP={extruder_temp} BED_TEMP={bed_temp} CHAMBER_HEATER={chamber_heater} MATERIAL={params.MATERIAL}
	{% elif MATERIAL == 'PA' %}
	START_SPICY EXTRUDER_TEMP={extruder_temp} BED_TEMP={bed_temp} CHAMBER_HEATER={chamber_heater} MATERIAL={params.MATERIAL}
	{% elif MATERIAL == 'PA-GF' %}	
	START_SPICY EXTRUDER_TEMP={extruder_temp} BED_TEMP={bed_temp} CHAMBER_HEATER={chamber_heater} MATERIAL={params.MATERIAL}
	{% elif MATERIAL == 'PET-CF' %}	
	START_SPICY EXTRUDER_TEMP={extruder_temp} BED_TEMP={bed_temp} CHAMBER_HEATER={chamber_heater} MATERIAL={params.MATERIAL}
	{% elif MATERIAL == 'ABS' %}	
	START_MILD EXTRUDER_TEMP={extruder_temp} BED_TEMP={bed_temp} CHAMBER_HEATER={chamber_heater} MATERIAL={params.MATERIAL}
	{% elif MATERIAL == 'ASA' %}	
	START_MILD EXTRUDER_TEMP={extruder_temp} BED_TEMP={bed_temp} CHAMBER_HEATER={chamber_heater} MATERIAL={params.MATERIAL}	
	{% elif MATERIAL == 'PLA' %}
	START_COLD EXTRUDER_TEMP={extruder_temp} BED_TEMP={bed_temp} MATERIAL={params.MATERIAL}	
	{% elif MATERIAL == 'TPU' %}
	START_COLD EXTRUDER_TEMP={extruder_temp} BED_TEMP={bed_temp} MATERIAL={params.MATERIAL}	
	{% elif MATERIAL == 'PETG' %}	
	START_COLD EXTRUDER_TEMP={extruder_temp} BED_TEMP={bed_temp} MATERIAL={params.MATERIAL}	
	{% else %}	
	START_COLD EXTRUDER_TEMP={extruder_temp} BED_TEMP={bed_temp} MATERIAL={params.MATERIAL}	
	{% endif %}

[gcode_macro END_PRINT]
gcode:
	SAVE_GCODE_STATE NAME=STATE_PRINT_END
	M400
	G92 E0
	G1 E{printer["gcode_macro start_variables"].end_retract_amount*-1} F{printer["gcode_macro start_variables"].purge_speed*60}
	TURN_OFF_HEATERS
    FEET_PURPLE
	G91
	G1 Z{printer["gcode_macro start_variables"].z_park} F{printer["gcode_macro start_variables"].park_speed*60}
	G90
    CLEAN_NOZZLE
	nozzle_park
	M107
	M106 S0
	SET_FAN_SPEED FAN=fan3 SPEED=0
	BED_MESH_CLEAR
	RESTORE_GCODE_STATE NAME=STATE_PRINT_END MOVE=0

[gcode_macro _SET_MPC_MATERIAL]
description: Set heater MPC parameters for a given material
variable_filament_table:
    ## Update this table to adjust material settings
    {
        ## ( density, heat capacity )  # suggested heat capacity range
        "PLA"       : ( 1.25, 2.20 ),  # 1.80 - 2.20
        "PETG"      : ( 1.27, 2.20 ),  # 1.70 - 2.20
        "PC+ABS"    : ( 1.15, 2.20 ),  # 1.50 - 2.20
        "ABS"       : ( 1.25, 2.40 ),  # 1.25 - 2.40
        "ASA"       : ( 1.07, 2.10 ),  # 1.30 - 2.10
        "PA6"       : ( 1.12, 2.50 ),  # 2.00 - 2.50
        "PA"        : ( 1.15, 2.50 ),  # 2.00 - 2.50
        "PC"        : ( 1.20, 1.90 ),  # 1.10 - 1.90
        "TPU"       : ( 1.21, 2.00 ),  # 1.50 - 2.00
        "TPU-90A"   : ( 1.15, 2.00 ),  # 1.50 - 2.00
        "TPU-95A"   : ( 1.22, 2.00 ),  # 1.50 - 2.00
        "ABS-CF"    : ( 1.11, 2.40 ),  # 1.25 - 2.40
        "ASA-CF"    : ( 1.11, 2.10 ),  # 1.30 - 2.10
        "PA6-CF"    : ( 1.19, 2.50 ),  # 2.00 - 2.50
        "PC+ABS-CF" : ( 1.22, 2.20 ),  # 1.50 - 2.20
        "PC+CF"     : ( 1.36, 1.90 ),  # 1.10 - 1.90
        "PLA-CF"    : ( 1.29, 2.20 ),  # 1.80 - 2.20
        "PETG-CF"   : ( 1.30, 2.20 ),  # 1.70 - 2.20
    }
gcode:
    {% set material = params.MATERIAL | upper %}
    {% set heater = params.HEATER | default('extruder') %}
    {% set extruder_config = printer.configfile.settings[heater] %}

    {% if material in filament_table %}
        {% set (density, heat_capacity) = filament_table[material] %}

        RESPOND PREFIX=🔥 MSG="Configured {heater} MPC for {material}. Density: {density}, Heat Capacity: {heat_capacity}"
    {% else %}
        {% set density = extruder_config.filament_density %}
        {% set heat_capacity=extruder_config.filament_heat_capacity %}

        RESPOND PREFIX=🔥 MSG="Unknown material '{material}', using default mpc parameters for {heater}"
    {% endif %}

    MPC_SET HEATER={heater} FILAMENT_DENSITY={density} FILAMENT_HEAT_CAPACITY={heat_capacity}
